# Clocks
NET "clk32_i" PERIOD = 31.25 ns | LOC = "J4"; # 32MHz

# Flash
NET "flash_cs_o"  LOC="T3"  | IOSTANDARD=LVTTL;
NET "flash_sck_o" LOC="R11" | IOSTANDARD=LVTTL;
NET "flash_si_o"  LOC="T10" | IOSTANDARD=LVTTL;
NET "flash_so_i"  LOC="P10" | IOSTANDARD=LVTTL;

# FTDI UART (CH2)
NET "uart_txd_i"  LOC="M7" | IOSTANDARD=LVTTL;
NET "uart_rxd_o"  LOC="N6" | IOSTANDARD=LVTTL;

# Port A I/O Pins
NET "porta<0>"  LOC="E7"  | IOSTANDARD=LVTTL;
NET "porta<1>"  LOC="C8"  | IOSTANDARD=LVTTL;
NET "porta<2>"  LOC="D8"  | IOSTANDARD=LVTTL;
NET "porta<3>"  LOC="E8"  | IOSTANDARD=LVTTL;
NET "porta<4>"  LOC="D9"  | IOSTANDARD=LVTTL;
NET "porta<5>"  LOC="A10" | IOSTANDARD=LVTTL;
NET "porta<6>"  LOC="B10" | IOSTANDARD=LVTTL;
NET "porta<7>"  LOC="C10" | IOSTANDARD=LVTTL;
NET "porta<8>"  LOC="E10" | IOSTANDARD=LVTTL;
NET "porta<9>"  LOC="F9"  | IOSTANDARD=LVTTL;
NET "porta<10>" LOC="F10" | IOSTANDARD=LVTTL;
NET "porta<11>" LOC="D11" | IOSTANDARD=LVTTL;

# Port B I/O Pins
NET "portb<0>"  LOC="E11" | IOSTANDARD=LVTTL;
NET "portb<1>"  LOC="D14" | IOSTANDARD=LVTTL;
NET "portb<2>"  LOC="D12" | IOSTANDARD=LVTTL;
NET "portb<3>"  LOC="E12" | IOSTANDARD=LVTTL;
NET "portb<4>"  LOC="E13" | IOSTANDARD=LVTTL;
NET "portb<5>"  LOC="F13" | IOSTANDARD=LVTTL;
NET "portb<6>"  LOC="F12" | IOSTANDARD=LVTTL;
NET "portb<7>"  LOC="F14" | IOSTANDARD=LVTTL;
NET "portb<8>"  LOC="G12" | IOSTANDARD=LVTTL;
NET "portb<9>"  LOC="G14" | IOSTANDARD=LVTTL;
NET "portb<10>" LOC="H14" | IOSTANDARD=LVTTL;
NET "portb<11>" LOC="J14" | IOSTANDARD=LVTTL;